:host {
    margin: 15px auto;
}

.table {
    width: 100%;
    margin: 0.1em 0 0px 0px;
    background-color: transparent;
}

.table .column-header {
    border-bottom: 1px solid #212529;
    box-shadow: none;
    font-weight: bold;
    padding: 0.5em 1em;
}

.table .row.header {
    border-bottom: 1px solid #DEDEDE;
    cursor: pointer;
}

.table .thead .table-header.collapsed .header .col-4 .arrowIcon .svg-inline--fa {
    margin-right: 0.5em;
    margin-top: 0.1em;
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out;
}

.table .thead .table-header .header .col-4 .arrowIcon .svg-inline--fa {
    margin-right: 0.5em;
    margin-top: 0.1em;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.table-position {
    display: inline-block;
}

.table .column-header.inner-nested-cell {
    background-color: #d6d6d6;
    color: #212529;
}

.inner-nested-cell {
    background-color: #efefef;
    color: #212529;
}

.inner-nested-cell p {
    padding: .5rem 0;
}