<div class="d-flex justify-content-center mt-5" *ngIf="loading">
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="table" *ngIf="!loading">
    <div class="row thead">
        <div class="col-4 column-header" *ngFor="let column of columns">
            {{column}}
        </div>
        <ng-container *ngFor="let member of combinedStandings; let $tabIndex = index">
            <div class="table-header" data-bs-toggle="collapse" [attr.href]="'#tabIndex' + $tabIndex" role=" button"
                aria-expanded="false" [attr.aria-controls]="'tabIndex' + $tabIndex">
                <div class="row header">
                    <div class="col-4">
                        <fa-icon class="arrowIcon" [icon]="faAngleUp"></fa-icon>
                        <p class="table-position">{{member.position}}</p>
                    </div>
                    <div class="col-4">
                        <p>{{member.name}}</p>
                    </div>
                    <div class="col-4">
                        <p>{{member.points}}</p>
                    </div>
                    <ng-container *ngFor="let value of member.teamResults; let $index = index">
                        <div class="collapse inner-nested-row" [id]="'tabIndex' + $tabIndex">
                            <div>
                                <div class="table mb-0 inner-nested-table">
                                    <div class="row header">
                                        <div class="col-4 column-header inner-nested-cell"
                                            *ngFor="let column of innerColumns">
                                            {{column}}
                                        </div>
                                    </div>
                                    <div class="row header">
                                        <div class="col-4 inner-nested-cell">
                                            <p class="table-position">{{value.position}}</p>
                                        </div>
                                        <div class="col-4 inner-nested-cell">
                                            <p>{{value.name}}</p>
                                        </div>
                                        <div class="col-4 inner-nested-cell">
                                            <p>{{value.points}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>