.schedule-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.schedule-list .schedule {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.flag-icon-background {
    height: 16px;
    min-width: 23px;
    border-radius: 0px;
    box-shadow: 1px 1px 3px rgb(128 128 128 / 28%);
    max-height: 21px;
    flex-shrink: 0;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
    display: block;
    float: left;
    margin: 3px 10px 0px 0px;
}

/* .mat-card-header {
    border-bottom: 1px solid #e6e6e6;
}

.mat-card-content {
    padding-top: 20px;
}

.mat-card-subtitle {
    font-size: 13px;
} */