<div class="schedule-list">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-4" *ngFor="let race of races">
            <div class="card schedule">
                <img class="img-fluid" [src]="race.raceImg" (error)="onImgError($event)" [alt]="race.raceName">
                <div class="card-body">
                    <div class="flag-icon-background flag-icon-{{race.countryCode}}">
                    </div>
                    <h5 class="card-title">{{race.country}}</h5>
                    <p class="card-text">{{race.date | date}}</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <button type="button" class="btn btn-outline-primary"><a
                            [routerLink]="['/schedule', race.circuitId]">Learn More</a></button>
                </div>
            </div>
        </div>
    </div>
</div>