<!-- <table mat-table [dataSource]="drivers" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let driver"> {{driver.position}} </td>
    </ng-container>

    <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
        <td mat-cell *matCellDef="let driver"> {{driver.points}} </td>
    </ng-container>

    <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Wins </th>
        <td mat-cell *matCellDef="let driver"> {{driver.wins}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let driver"> {{driver.name}} </td>
    </ng-container>

    <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nationality </th>
        <td mat-cell *matCellDef="let driver"> {{driver.nationality}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th *ngFor="let column of columns"> {{column}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let driver of drivers">
            <td>{{driver.position}}</td>
            <td>{{driver.name}}</td>
            <td>{{driver.points}}</td>
            <td>{{driver.wins}}</td>
            <td>
                <div class="flag-icon-background flag-icon-{{driver.countryCode}}"></div>{{driver.nationality}}
            </td>
        </tr>
    </tbody>
</table>