<!-- <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th *ngFor="let column of columns"> {{column}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let driver of drivers">
            <td>{{driver.position}}</td>
            <td>{{driver.name}}</td>
            <td>{{driver.points}}</td>
            <td>{{driver.wins}}</td>
            <td>
                <div class="flag-icon-background flag-icon-{{driver.countryCode}}"></div>{{driver.nationality}}
            </td>
        </tr>
    </tbody>
</table> -->

<div class="d-flex justify-content-center mt-5" *ngIf="loading">
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="table" *ngIf="!loading">
    <div class="row thead">
        <div class="col-2 column-header">Position</div>
        <div class="col-3 column-header">Name</div>
        <div class="col-2 column-header">Points</div>
        <div class="col-1 column-header">Wins</div>
        <div class="col-4 column-header">Nationality</div>
        <ng-container *ngFor="let driver of drivers">
            <div class="table-header">
                <div class="row header">
                    <div class="col-2">
                        <p class="table-position">{{driver.position}}</p>
                    </div>
                    <div class="col-3">
                        <p>{{driver.name}}</p>
                    </div>
                    <div class="col-2">
                        <p>{{driver.points}}</p>
                    </div>
                    <div class="col-1">
                        <p>{{driver.wins}}</p>
                    </div>
                    <div class="col-4">
                        <div class="flag-icon-background flag-icon-{{driver.countryCode}}"></div>
                        <p>{{driver.nationality}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>