:host {
    width: 100%;
}

.trackHeader {
    height: 50vh;
    display: flex;
    flex-direction: column;
    min-height: auto;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.race-banner {
    min-height: 70vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(309deg,#e9e9e9 3%,#9b9b9b 30%,#181818 83%);
    background-image: -moz-linear-gradient(309deg,#e9e9e9 3%,#9b9b9b 30%,#181818 83%);
    background-image: -webkit-linear-gradient(309deg,#e9e9e9 3%,#9b9b9b 30%,#181818 83%);
    background-image: -ms-linear-gradient(309deg,#e9e9e9 3%,#9b9b9b 30%,#181818 83%);
    z-index: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.race-banner-content h6 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.parallax-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    z-index: -1;
    opacity: .1;
    background-repeat: no-repeat;
    background-size: cover;
}